*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 10px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
    padding: 0 !important;
    background-image: url('images/background_img.jpg');
    object-fit: fill;
    background-repeat: no-repeat;
    border-bottom: #222222 9px solid;
}

/*background img*/
header .navbar{
    display: flex;
    justify-content:space-between;
    padding: 0 4.4rem;    
    background-position-y: -132px;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items:center;
    align-content: flex-start;
    overflow: hidden;
    
}

.logo img{
    margin-left: 1rem;
    width: 15rem;
    min-width: 90px;
}

/*sign in and language select div*/
.right-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    position: relative;
    right: 13px;
    bottom: 5px;
}


/*navbar - language select part*/
.languages{
    display: flex;
    align-items: center;
    padding: 7px 3px;
    border-radius: 2px;
    border: white 1.5px solid;
    color: white;
    background:  #020D16;
}


/*navbar - select box*/
.languages select{
    background: transparent;
    color: white;
    font-size: 13px;
    width: 65px;
}

/*navbar - select box*/
.languages select:hover{
    background:#020D16;
}


.sign-in button{
    text-align: center;
    padding: 3px 12px;
    background-color: #e50914;
    font-size: 15px;
    font-family: 'Netflix Sans';font-weight: 400;
    color: white;
}

/*middle, input mail and title area*/
.header-middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:5rem;
    padding-top: 3rem;
    padding-bottom: 11rem;  
}

.middle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    padding: 50px;   

}
/*h1 Text*/
.middle-content h1{
    color: white;
    font-size:5.8rem;
    line-height:6rem;
    font-weight:700;
    text-align: center;
    
}
/*h2 Text*/
.middle-content h2{
    color: white;
    font-size:2.4rem;
    line-height:2.5rem;
    font-weight:400;
    text-align: center;
    margin-top: 2rem;    
}
/*h3 Text*/
.middle-content h3{
    color: white;
    font-size:1.7rem;
    line-height:2rem;
    font-weight:400;
    text-align: center;
    margin-top: 2rem;    
}
/*middle area form*/
.header-form{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
/*header input*/
.header-form input{
    text-align: start;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 40px;
    min-width: 46rem;
    min-height: 6.2rem;
    color: #757575;
}
/*header button*/
.header-form button{
    background-color: #E30913;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 500;
    border: 1px solid #E30913;
    min-width: 22rem;
    min-height: 6.2rem;
    color: white;
    
}
/*header button row icon*/
.header-form button img{
    height: 2rem;
}

/*##################  BODY  ##################*/

/*Middle rows order*/
body .container-fluid{
    display: flex;
    flex-direction:column;
    
}
/*Middle rows inside 2 section configure*/
.row{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center; 
    background-color: black;
    justify-content: center;
    padding-bottom: 5rem;
    border-bottom: #222222 9px solid;
    
    
}
/*Middle rows configure*/
.row{
    padding: 10px;
    background-color: black;
    justify-content: center;  
    padding: 0 1rem 5rem 1rem;
    display: flex;
    justify-content: space-around;

}
/*middle text container*/
.text-container{
    display: flex;
    justify-content: center;
}
/*middle text contain div*/
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin: 3rem 0;
    padding-top: 5rem;
    
    
}
/*first row - right side container*/
.picture{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    position: relative;
    align-content: center;
    
}

/*first row tv size*/
.picture img{
    max-width: 70%;
    width: 100%;
    position: relative;
    z-index: 2;
}
/*first row tv backend video size*/
.picture video{
    max-width: 80%;
    max-height: 50%;
    transform: translate(0%,35%);
    -webkit-transform: translate(0%,35%);
    object-fit: contain;
    position: absolute;
    margin: auto;
}

/*phone and downloanding container*/
.back-picture{  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
}
/*download area in front of the image*/
.download-container{
    display: flex;
    padding: 0 1rem;
    justify-content:space-between;
    align-content: center;
    position: absolute;
    z-index: 2;
    max-width: 33rem;
    max-height: 10rem;
    width: 65%;
    height: 50%;
    top: 60%;
    border: 2px solid #404040;
    background: black;
    border-radius: 10px;
    transform:translate(0px, 20px);
}
/*downloading text in front of the image*/
.down-txt-one{
    line-height: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}
/*downloading text  in front of the image*/
.down-txt-two{
    line-height: 10px;
  color: #0068D8;
  font-weight: 400;
  font-size: 1.4rem;
}
/*downloading text general setings  in front of the image*/
.down-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
/*downloading pictures general setings  in front of the image*/
.download-container img{
height: 100%;
width: 100%;
max-width: 53px!important;
object-fit:contain;
}

/*middile text size and configure*/
.texts h1{
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 6rem;
    color: white;
}
/*middile text size and configure*/
.texts h2{
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 400; 
    color: white;
}

/*we controlled first row inside the screen size*/
@media only screen and (min-width: 993px) {  
    .picture img{
        max-width: 550px;
        width: 100%;
    }
    .picture video{
        -webkit-transform: translate(17%,35%); 
        transform: translate(17%,35%); 
    }
  }
  @media only screen and (max-width: 992px) {
    *{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    *{
        font-size: 7px;
    }
  }
  @media only screen and (max-width: 576px) {
    *{
        font-size: 6px;
    }
  }
  @media only screen and (max-width: 450px) {
    *{
        font-size: 4px;
    } 

  }
  @media only screen and (max-width: 250px) {
    *{
        font-size: 2px;
    }
  }





/*fonts*/
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
    font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
    font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

